@model Blog
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h3>Blog Düzenleme Sayfası</h3>
@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post))
{
    //Blog oluşturulma tarihini alması için ekledik
    @Html.HiddenFor(x => x.CreateDate)

    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="validationCustom01">Blog Başlığı</label>            
            @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Title, null, new {@class = "text-danger"})
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationCustom02">Blog Görseli</label>            
            @Html.TextBoxFor(x => x.Image, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Image, null, new {@class = "text-danger"})
        </div>
        <div class="col-md-12 mb-3">
            <label for="validationCustom02">Blog İçeriği</label>            
            @Html.TextAreaFor(x => x.Content, 15, 3, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Content, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="exampleInputPassword1 mb-2">Blog Küçük Görseli</label>            
            @Html.TextBoxFor(x => x.ThumbnailImage, new {@class = "form-control"})
        </div>
        <div class="form-group col-md-12">
            <label for="exampleInputPassword2 mb-2">Kategori</label>            
            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new {@class = "form-control"})
        </div>

    </div>
    <button type="submit" class="btn btn-primary submit mb-4">Blog Kaydet</button>
}
